@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');


body {
    background-image: url("./assets/ff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    text-align: center;
    margin-top: 27%;
    color: rgb(52, 52, 243);
    font-style: inherit;
    text-shadow: rgb(240, 92, 92) 0 3px 0;
    font-weight: 600;

}

#button1 {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(71, 255, 86);
    margin-left: 45%;
    font-size: 20px;
    text-decoration: none;
    text-decoration-style: none;
    transition: all .45s ease-Out;
}